:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #4a83b2;
  color: #0038ff;
}

header {
  text-align: center;
  background-color: black;
  background-image: url('https://logonoid.com/images/doctor-who-logo.jpg');
  background-repeat: no-repeat;
  background-size: 35rem 13rem;
  background-position: center;
  padding: 5rem;
}

article {
  display: flex;
  justify-content: center;
}

button {
  background-color: #0038ff;
  font-size: 16px;
  margin: 1rem;
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

table {
  margin: 0;
  padding: 0;
  list-style: none;
  border-spacing: 0;
}

tbody {
  text-align: center;
  line-height: 16px;
}

tr td {
  height: 40px;
  width: 40px;
  background-color: #e7eef4;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  line-height: 16px;
  list-style: none;
}

.revealed {
  background-color: #0038ff;
  text-indent: -9999px;
}

.flagged {
  background-color: white;
  text-indent: -9999px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG8doiGjZjWqwpfOunc8QJ82idspgK264omQ&usqp=CAU;');
  background-repeat: no-repeat;
  background-size: 40px;
}

.flagbomb {
  background-color: white;
  text-indent: -9999px;
  background-image: url('https://www.freeiconspng.com/thumbs/tardis-icon/tardis-png-icon-16.jpg');
  background-repeat: no-repeat;
  background-size: 40px;
}

.bomb {
  background-color: white;
  text-indent: -9999px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLxOiBXmwNDai7OQnInZpZ_cBs4xarSEk2gQ&usqp=CAU');
  background-repeat: no-repeat;
  background-size: 40px;
}

p {
  text-align: center;
  background-color: #40528a;
  color: #e1e4ed;
  padding: 3rem;
}
